<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.business.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.business.bean.SysUser">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="school_id" jdbcType="BIGINT" property="schoolId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="full_name" jdbcType="VARCHAR" property="fullName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithSysUser" type="com.business.dto.UserDTO">
        <result column="title" jdbcType="VARCHAR" property="title"/>
    </resultMap>

    <select id="selectAllUsers" resultMap="ResultMapWithSysUser">
        SELECT user.*,role.title
        FROM sys_user as user inner join sys_role_user as role_user on user.id = role_user.sys_user_id
        inner join sys_role as role on role.id = role_user.sys_role_id
        <where>
            <if test="keyWord != null and keyWord != ''">
                <bind name="kw" value="'%' + keyWord + '%'"/>
                AND (role.title LIKE #{kw}
                )
                OR (
                 user_name LIKE #{kw} or full_name LIKE #{kw} or mobile LIKE #{kw} or email LIKE #{kw}
                )
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>